ALLOWED_ORIGIN=
INFURA_API_KEY=             # https://www.infura.io/
PORT=                       # 5000 by default
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=          # comma separated list of chat ids
WALLET_PRIVATE_KEY=
